<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>for</title>
  <style type="text/css">
    td{
      width: 100px;
      background-color: peachpuff;
    }
  </style>
</head>
<body>
<div id="app">
  <table>
    <tr v-for="(user, index) in users" :key="index">
      <td v-text="index"></td>
      <td v-for="v in user" v-text="v"></td>
    </tr>
  </table>
  <hr>
  <table>
    <tr v-for="(v, k) in person" :key="k">
      <td v-text="k"></td>
      <td v-text="v"></td>
    </tr>
  </table>
  <hr>
  <ul>
    <li v-for="v in  5">{{v}}</li>
  </ul>
</div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
  const vm = new Vue({
    el:"#app",
    data:{
      users:[
        {name:'柳岩', gender:'女', age: 21},
        {name:'虎哥', gender:'男', age: 30},
        {name:'范冰冰', gender:'女', age: 24},
        {name:'刘亦菲', gender:'女', age: 18},
        {name:'古力娜扎', gender:'女', age: 25}
      ],
      person: {name:'柳岩', gender:'女', age: 21}
    }
  })
</script>
</body>
</html>